  .wrapper {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
  }
  
  .box {
    background-color: white;
    color: teal;
    border-radius: 5px;
    padding: 5px;
    font-size: 150%;
    font-family: 'Tiro Bangla', serif;
    text-align: center;
  }

  .box2{
    background-color: white;
    color: purple;
    border-radius: 5px;
    padding: 5px;
    font-size: 80%;
    font-family: 'Tiro Bangla', serif;
    text-align: center;  
  }

  .box1{
    background-color: white;
    color: teal;
    border-radius: 5px;
    font-size: 150%;
    font-family: 'Tiro Bangla', serif;
    text-align: center; 
    size: 50%; 
  }